:root {
    --it:       #EEC3CA;
    --it_rv:    #113C35;
    --bi:       #FFE8F1;
    --bi_rv:    #00170E;
    --bi2:      #FCD1D8;
    --bi2_rv:   #032E27;
    --ey:       #574042;
    --ey_rv:    #A8BFBD;
    --fl1:      #FEC3B3;
    --fl1_rv:   #013C4C;
    --fl2:      #BF8172;
    --fl2_rv:   #407E8D;
    --tn1:      #833D45;
    --tn1_rv:   #7CC2BA;
    --hr1:      #694339;
    --hr1_rv:   #96BCC6;
    --hr2:      #704139;
    --hr2_rv:   #8FBEC6;
    --ni:       #6A3A35;
    --ni_rv:    #95C5CA;
    --bu1:      #313234;
    --bu2:      #0F1c24;
    --bu3:      #14191F;
    --lt_gray:  #215C6C;
    --dk_gray:  #296371;

    --main_background: var(--fl1_rv);
    --main_text: var(--fl1);
}

body {
    color: var(--main_text);
    background-color: var(--main_background);
    margin: 15px;
}

.image-container {
    display: flex;
    height: 200px; /* Fixed height for container */
    gap: 18px; /* Space between images */
}

.image-container img {
    height: 100%; /* Make images fit container height */
    flex-shrink: 1; /* Allow shrinking */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain;
}

.lineHorizontal {
    border-top: 2px solid var(--fl2); /* Top border */
    border-bottom: 2px solid var(--fl2); /* Bottom border */
    width: 100%;
    height: 5px;
}

.td-button {
    background: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.td-button:hover {
    background: #45a049;
}

.maintTable {
    width: 100%;
    text-align: left;
    background-color: var(--fl1_rv);
    border-collapse: collapse;
}

.maintTable th {
    background: var(--hr2);
    color: var(--hr2_rv);
    padding: 8px;
    text-align: center;
}

.maintTable tr:nth-child(odd) {
    background: var(--hr1_rv);
    color: var(--hr1);
}

.maintTable tr:nth-child(even) {
    background: var(--hr2_rv);
    color: var(--hr2);
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element-centered {
    flex: 1;
    border: 2px solid var(--fl1_rv);
    margin: 10px;

    /* Center content inside the div */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
}

.flex-child-element {
    flex: 1;
    border: 2px solid var(--fl1_rv);
    margin: 10px;
}

.flex-child-element:first-child {
    margin-right: 20px;
}

.carTable {
    width: 100%;
    font-size: 28px;
    text-align: left;
    background-color: var(--bi_rv);
    border-collapse: collapse;
}

.carTable th {
    background: var(--bi_rv);
    color: var(--bi);
}

.button {
    background-color: var(--tn1_rv);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    border-radius: 12px;
}